.hide {
    display: none;
  }
  
  body{
    font-family: 'Libre Baskerville', serif;
    font-size: 15px !important;
  }
  .btn {
    background-color: rgb(86, 22, 160);
    border:none;
  }
  
  .btn:hover {
      background-color: rgb(12, 22, 105);
  }
  
  th{
    text-align: center;
  }
  
  td{
    text-align: center;
  }
  
  
.bg-light{
  background-color: #dee2e6 !important;
}
.title{
  font-size: 50px;
}


